<div class="flex">
    <div class="item-flex">
      <div class="jumbotron">
          <h1 class="title" style="color:blue;">C A D A S T R A R</h1>
        <input _ngcontent-c1="" placeholder="Nome" [(ngModel)]='Nome' type="nome" style="width: 100%;">
        <input _ngcontent-c1="" placeholder="Email" [(ngModel)]="email" type="text" style="width: 100%;">
        <input _ngcontent-c1="" placeholder="Senha" [(ngModel)]= "password" type="password" style="width: 100%;"><br>
        <button type="button" class="btn btn-blue" (click)="loginUser()">Cadastrar</button>
        <h1 style="width: 40%"></h1>
      </div>
    </div>
  </div>